In [1]:
import pandas as pd
import os

In [2]:
path = 'data/'

In [ ]:
[f for f in os.listdir(path) if '.txt' in f]

In [5]:
data = pd.read_csv(path+'100datengefiltert.txt',delimiter="\t",nrows=1)

In [6]:
data

        Datum :  11.09.2014
0  Durchmesser :       98,5

In [43]:
tmp = []
for file in [f for f in os.listdir(path) if '.txt' in f]:
    fname = file
    data = pd.read_csv(path+file,delimiter="\t",sep=';\s', header=None,nrows=2,usecols=[1], engine='python').T
    
    #data = pd.read_csv(path+file,delimiter="\t").iloc[[0],:]
    tmp.append(data.assign(name=fname))
    #.iloc[[0, 2], :].assign(name=fname)

In [44]:
data

           0      1
1  18.7.2014  100,4

In [45]:
tmp

[           0      1                  name
 1  11.6.2014  199,8  76datengefiltert.txt,
             0     1                  name
 1  15.05.2014  69,4  84datengefiltert.txt,
             0      1                  name
 1  24.10.2012  149,6  16datengefiltert.txt,
            0      1                  name
 1  18.7.2014  100,6  72datengefiltert.txt,
             0      1                  name
 1  15.05.2014  141,2  47datengefiltert.txt,
             0     1                  name
 1  11.09.2014  98,5  61datengefiltert.txt,
            0      1                  name
 1  27.8.2014  47,84  12datengefiltert.txt,
            0      1                  name
 1  17.7.2014  100,6  43datengefiltert.txt,
            0      1                  name
 1  18.7.2014  100,3  86datengefiltert.txt,
            0    1                  name
 1  18.3.2014  100  25datengefiltert.txt,
            0     1                  name
 1  27.8.2014  47,9  41datengefiltert.txt,
            0     1                  name
 1  27.8.2014  48,7  46datengefiltert.txt,
            0      1                  name
 1  11.6.2014  200,1  77datengefiltert.txt,
             0     1                  name
 1  01.09.2014  98,6  17datengefiltert.txt,
             0     1                  name
 1  01.09.2014  98,7  56datengefiltert.txt,
             0     1                  name
 1  28.02.2014  98,7  88datengefiltert.txt,
            0      1                   name
 1  11.6.2014  199,9  103datengefiltert.txt,
             0     1                 name
 1  05.12.2013  69,3  2datengefiltert.txt,
            0     1                  name
 1  14.5.2014  47,5  15datengefiltert.txt,
            0     1                  name
 1  27.8.2014  47,6  23datengefiltert.txt,
             0   1                 name
 1  20.12.2011  50  9datengefiltert.txt,
             0      1                  name
 1  06.06.2011  149,3  67datengefiltert.txt,
            0     1                  name
 1  25.3.2014  98,6  53datengefiltert.txt,
            0   1                  name
 1  18.3.2014  99  27datengefiltert.txt,
             0     1                 name
 1  05.12.2013  69,3  0datengefiltert.txt,
            0     1                  name
 1  14.5.2014  48,0  90datengefiltert.txt,
             0      1                  name
 1  09.11.2011  100,0  54datengefiltert.txt,
            0   1                  name
 1  18.3.2014  99  40datengefiltert.txt,
             0     1                  name
 1  03.09.2014  98,6  64datengefiltert.txt,
            0     1                  name
 1  27.8.2014  48,5  49datengefiltert.txt,
             0     1                  name
 1  03.09.2014  98,6  78datengefiltert.txt,
             0    1                  name
 1  09.09.2013  295  95datengefiltert.txt,
             0     1                  name
 1  14.11.2011  98,5  59datengefiltert.txt,
            0   1                  name
 1  18.3.2014  99  11datengefiltert.txt,
             0      1                  name
 1  31.05.2011  149,4  82datengefiltert.txt,
             0     1                  name
 1  15.05.2014  69,3  62datengefiltert.txt,
             0     1                  name
 1  05.12.2013  69,2  71datengefiltert.txt,
           0     1                  name
 1  9.7.2014  98,7  65datengefiltert.txt,
           0     1                  name
 1  8.4.2014  98,6  32datengefiltert.txt,
            0      1                  name
 1  18.7.2014  100,3  50datengefiltert.txt,
            0     1                  name
 1  25.3.2014  98,8  42datengefiltert.txt,
            0      1                  name
 1  17.7.2014  100,6  96datengefiltert.txt,
           0     1                  name
 1  9.7.2014  98,7  66datengefiltert.txt,
            0      1                 name
 1  11.6.2014  199,8  7datengefiltert.txt,
            0    1                  name
 1  18.3.2014  100  57datengefiltert.txt,
             0      1                  name
 1  07.11.2011  100,1  45datengefiltert.txt,
             0     1                  name
 1  11.09.2014  98,6  85datengefiltert.txt,
             0     1                  name
 1  01.09.2014  98,6  36datengefiltert.txt,
            0     1                   name
 1  14.5.2014  47,7  100datengefiltert.txt,
             0   1                  name
 1  20.12.2011  50  89datengefiltert.txt,
             0    1                  name
 1  09.09.2013  150  29datengefiltert.txt,
            0      1                  name
 1  18.7.2014  100,3  33datengefiltert.txt,
            0      1                  name
 1  11.6.2014  200,1  51datengefiltert.txt,
            0      1                  name
 1  18.7.2014  100,4  74datengefiltert.txt,
             0      1                  name
 1  25.07.2013  149,5  30datengefiltert.txt,
             0     1                  name
 1  11.09.2014  98,5  70datengefiltert.txt,
            0      1                  name
 1  18.7.2014  100,3  94datengefiltert.txt,
             0     1                   name
 1  01.09.2014  98,6  102datengefiltert.txt,
            0   1                   name
 1  18.3.2014  99  104datengefiltert.txt,
             0      1                  name
 1  06.06.2011  149,5  21datengefiltert.txt,
            0      1                  name
 1  11.6.2014  199,9  93datengefiltert.txt,
             0      1                  name
 1  07.11.2011  100,2  55datengefiltert.txt,
             0     1                  name
 1  28.02.2014  98,6  79datengefiltert.txt,
            0     1                  name
 1  27.8.2014  48,9  63datengefiltert.txt,
             0     1                  name
 1  15.05.2014  69,4  48datengefiltert.txt,
            0      1                  name
 1  18.7.2014  100,4  97datengefiltert.txt,
             0     1                  name
 1  01.09.2014  98,6  44datengefiltert.txt,
            0      1                  name
 1  17.7.2014  100,4  37datengefiltert.txt,
             0      1                  name
 1  17.10.2012  149,5  68datengefiltert.txt,
             0     1                  name
 1  03.09.2014  98,6  91datengefiltert.txt,
             0     1                  name
 1  01.09.2014  98,7  99datengefiltert.txt,
             0     1                 name
 1  11.09.2014  98,5  1datengefiltert.txt,
             0     1                   name
 1  15.05.2014  69,4  101datengefiltert.txt,
           0     1                  name
 1  9.7.2014  98,5  92datengefiltert.txt,
             0      1                  name
 1  12.09.2013  149,5  87datengefiltert.txt,
           0     1                 name
 1  8.4.2014  98,6  8datengefiltert.txt,
             0     1                  name
 1  03.09.2014  98,7  26datengefiltert.txt,
             0     1                  name
 1  11.09.2014  98,7  38datengefiltert.txt,
            0      1                  name
 1  18.7.2014  100,2  24datengefiltert.txt,
             0    1                  name
 1  14.08.2013  150  52datengefiltert.txt,
             0     1                  name
 1  14.11.2011  98,5  19datengefiltert.txt,
             0     1                  name
 1  05.12.2013  69,3  73datengefiltert.txt,
            0     1                  name
 1  25.3.2014  98,5  75datengefiltert.txt,
           0     1                 name
 1  8.4.2014  98,7  6datengefiltert.txt,
             0     1                 name
 1  28.02.2014  98,6  5datengefiltert.txt,
             0     1                  name
 1  03.09.2014  98,6  31datengefiltert.txt,
             0    1                  name
 1  09.09.2013  150  69datengefiltert.txt,
             0    1                  name
 1  09.09.2013  150  34datengefiltert.txt,
             0     1                  name
 1  15.05.2014  69,4  10datengefiltert.txt,
             0     1                  name
 1  11.09.2014  98,7  20datengefiltert.txt,
             0    1                  name
 1  09.09.2013  150  60datengefiltert.txt,
             0      1                  name
 1  14.11.2014  93,85  80datengefiltert.txt,
             0     1                  name
 1  03.09.2014  98,6  39datengefiltert.txt,
            0      1                  name
 1  18.7.2014  100,4  28datengefiltert.txt]

In [46]:
df = pd.concat(tmp)

In [48]:
df.to_csv(path+'filtered_data.csv',index=False)

In [47]:
df

             0      1                  name
1    11.6.2014  199,8  76datengefiltert.txt
1   15.05.2014   69,4  84datengefiltert.txt
1   24.10.2012  149,6  16datengefiltert.txt
1    18.7.2014  100,6  72datengefiltert.txt
1   15.05.2014  141,2  47datengefiltert.txt
..         ...    ...                   ...
1   11.09.2014   98,7  20datengefiltert.txt
1   09.09.2013    150  60datengefiltert.txt
1   14.11.2014  93,85  80datengefiltert.txt
1   03.09.2014   98,6  39datengefiltert.txt
1    18.7.2014  100,4  28datengefiltert.txt

[94 rows x 3 columns]

### Misc -----------------------

In [ ]:
import seaborn as sns

A_prior = dist.Gamma(1, 1E04)
smpl = np.ndarray((100000))
for i in range(1, 100000):
    smpl[i] = (pyro.sample("AA", A_prior))
plt.figure(figsize=(3, 3))
sns.kdeplot(data=smpl, label="A_prior")

In [ ]:
np.mean(smpl)

In [ ]:
chk = [2,3]

In [ ]:
chk[0]

In [ ]:
plt.plot(data['strain'].to_numpy())
import pyro.distributions as dist
import pyro
sigma =th.tensor(0.1*np.mean(data['strain'].to_numpy()))
mean = th.tensor(data['strain'].to_numpy())
#str_noise_dist = dist.Normal(mean,-sigma)

str_noise = pyro.sample("st",str_noise_dist)
plt.plot(str_noise)
plt.plot(data['stress'],st_test)

In [ ]:
plt.plot(data['mm.1'])
plt.plot(data['mm.2'])
plt.plot(data['mm.3'])
plt.savefig('strainValues.png')